@font-face {
  font-family: "Inter";
  src: local("Inter"),
    url("../fonts/Inter-VariableFont_slnt,wght.ttf") format("truetype");
}

body{
  margin: 0px;
  font-family:'Inter';
}

.Container{
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.HeadingSection{
  margin-top: 2em;
  margin-bottom: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Logo {
  height: 1.5em;
  margin-right: 0.2em;
}

.CompanyText{
  font-weight: 1000;
  font-size: 1.2em;  
}

.ProgressbarSection{
  margin-bottom: 2em;
  width: 35%;
}

.FormInfoArea{
  margin-bottom: 1.5em;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
}

.FormPrimaryInfo {
  font-weight: 1000;
  font-size: 1.3em;
}

.FormSecondaryInfo {
  margin-top: 5px;
  font-weight: 1000;
  font-size: 12px;
  font-weight: 100;
  color: grey;
}

.ErrorMessage {
  margin-bottom: 1em ;
  color: rgb(166, 30, 30);
  font-size: 0.8em;
  transition: ease all 1s;
}

@media only screen and (max-width: 930px) {
  
  
    .Container {
      justify-content: space-evenly;
    }
  
    .ProgressbarSection {
      width: 50%;
    }
  
    .Logo {
      height: 2em;
    }
  
    .CompanyText {
      font-size: 1.5em;
    }
}

@media only screen and (max-width: 560px) {
  
  
    .Container {
      justify-content: space-evenly;
    }
  
    .ProgressbarSection {
      width: 70%;
    }
  
    .Logo {
      height: 2em;
    }
  
    .CompanyText {
      font-size: 1.5em;
    }

    .FormPrimaryInfo {
      font-weight: 1000;
      font-size: 1.2em;
    }
}

@media only screen and (max-width: 460px) {
  
  .Container {
    justify-content:space-evenly; 
  }
  .ProgressbarSection {
    width: 80%;
  }
  .Logo {
    height: 2.5em;
  }
  .CompanyText {
    font-size: 2em;
  }

  .FormPrimaryInfo {
    font-weight: 1000;
    font-size: 1.1em;
  }

  .FormSecondaryInfo {
    font-size: 11px;
  }

}
