.stepper-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.stepper-item {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;

  /* @media (max-width: 768px) {
    font-size: 12px;
    font-weight: 100;
  } */
}

.stepper-item::before {
  position: absolute;
  content: "";
  border-bottom: 2px solid #ccc;
  width: 50%;
  top: 10px;
  left: -50%;
  z-index: 2;

}

.stepper-item::after {
  position: absolute;
  content: "";
  border-bottom: 2px solid #ccc;
  width: 100%;
  top: 10px;
  left: 50%;
  z-index: 2;
}

.stepper-item .step-counter {
  position: relative;
  z-index: 5;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1.5em;
  height: 1.5em;
  border-radius: 50%;
  background: white;
  border: 0.5px solid #ccc;
  padding: 0.2em;
    font-size: 0.8em;
    color: black;
    font-weight: 100;
}

.stepper-item.active {
  font-weight: bold;
  
}

.stepper-item.completed .step-counter {
  background-color: rgb(58, 53, 187);
  
  padding: 0.2em;
  font-size: 0.8em;
  color: white;
}

.stepper-item.completed::after {
  position: absolute;
  content: "";
  border-bottom: 2px solid rgb(58, 53, 187);
  width: 100%;
  top: 10px;
  left: 50%;
  z-index: 3;
}

.stepper-item:first-child::before {
  content: none;
}

.stepper-item:last-child::after {
  content: none;
}